.todo {
  font-size: 3rem;
  color: magenta;
}

.todo:hover {
  background-color: #d6d2d2;
  transition: all 1000ms;
}

.completed {
  text-decoration: line-through;
  color: mediumblue;
}

h1 {
  transition: all 1s;
  text-align: center;
}

.big {
  transform: scale(2);
  color: magenta;
}

.small {
  transform: scale(0.5);
  color: teal;
}
